@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="py-3">All Users</h1>

<form asp-action="Index">
    <div class="row container w-75">
        <div class="col-md-8">
            <input placeholder="Search By Name" type="text" name="searchInput" id="searchInput" class="form-control" />
        </div>

        <div class="col-md-4">
            <input type="submit" name="Search" class="btn btn-success" />
        </div>
    </div>
</form>


@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(D => D.Id)</th>
                <th>@Html.DisplayNameFor(D => D.FirstName)</th>
                <th>@Html.DisplayNameFor(D => D.LastName)</th>
                <th>@Html.DisplayNameFor(D => D.Email)</th>
                <th>@Html.DisplayNameFor(D => D.Roles)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(" ", user.Roles)</td>
                    <partial name="_ButtonParitalView" model="@user.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="py-3 alert alert-danger">There is No User</h1>
}

